.card {
  border: 1px solid black;
  width: 30%;
  height: fit-content;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
}

.card img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.card img:hover{
    transform: scale(1.1);
}