.container{
    background-color: #000000;
    width: 100%;
    border-radius: 50px;
  }
  .container button {
    padding: 10px 20px;
    margin: 25px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease-in-out;
    border: none;
    border-radius: 5px;
  }
  .container button:hover {
    transform: translateX(10px);
    background-color: #ff0019;
    color: #fff;
  }
  .container button:active {
    transform: translateX(-10px);
    background-color: #ffb74d;
  }
  .select {
    padding: 10px 20px;
    margin: 25px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease-in-out;
    border: none;
    border-radius: 5px;
  }